@model IEnumerable<Wineshop.Models.ArdoaUpeltegi>
<ul class="dropdown-menu">
    <li>
        <div class="row">
            <div class="col-md-4 nireMenua">
                <h4 class="borgona">Aukeratu upeltegia:</h4>
                @{
                    var izena = "";
                    foreach (var item in Model)
                    {
                        if (item.UpeltegiIzena != izena)
                        {
                            <a href="#">@Html.DisplayFor(modelItem => item.UpeltegiIzena)</a>

                            <br />
                            izena = item.UpeltegiIzena;
                        }
                    }
                }
            </div>
            @{
                switch (ViewBag.mota)
                {
                    case 1:
                        <div class="col-md-8">
                            <img class="img-fluid" src="~/images/wine-white.jpg" />
                        </div>
                        break;
                    case 2:
                        <div class="col-md-8">
                            <img class="img-fluid" src="~/images/wine-red.jpg" />
                        </div>
                        break;
                    case 3:
                        <div class="col-md-8">
                            <img class="img-fluid" src="~/images/wine_rose.jpg" />
                        </div>
                        break;
                    case 4:
                        <div class="col-md-8">
                            <img class="img-fluid" src="~/images/wine-desserts.jpg" />
                        </div>
                        break;
                    case 5:
                        <div class="col-md-8">
                            <img class="img-fluid" src="~/images/wine-sparkling.jpg" />
                        </div>
                        break;
                }
                
            }
        </div>
    </li>
</ul>

